<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>Blog</header>
  <nav>Index - Usuarios </nav>
  <body>
    <%- body %>  <!-- el método res.render asigna el código HTML de la vista a la variable body -->
  </body>
  <footer>CV de Jorge Molina</footer>
</html>